.fixed-header{
    background-color:#555;
}
h1{
    background:url(../img/html5.png) no-repeat;
    text-indent:-9999px;
    width: 128px;
    height:128px;
    float:left;
    width:20%;
    overflow: hidden;
}/*for adding background image*/
.fixed-header ul {
    overflow: hidden; 
    width: 80%;
    margin-right: 100px; 
    display: inline;
  }
.fixed-header a{
    font-size: 26px;
}
  .fixed-header aside{
      float:right;
  }
.fixed-header li{
      text-size-adjust: 
      padding-right: 10px;
      padding-top: 50px;
      display: inline-block;
      }
  
 .fixed-header li a {
    
    display:block;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
  }
  
.fixed-header li a:hover {
    background-color: #555;
    color: #fff;
  }
  div{
      padding: 2px;
  }
  
.fixed-header{
    
    position: fixed;
    top: 0px;
    width:100%;
    background-color: #fff;
    
}/*fixing the header*/
p{
    font-family: 'Raleway', sans-serif;

}
body{
    background-image: url(../img/absurdity.png);
}/*for adding background image*/
.open{
    overflow: hidden;
    padding-top: 200px;

}
footer{
    background-color:#555;
    height: 300px;
}
.icon{
    float:right;
    padding-top:0px;
    margin-top: -50px;
    margin-bottom: -50px;
    font-size: 2.5em;
}
footer li{
    display: inline-block;
    padding:10px;
}
#footer_container{
    padding:10px;
    border:none;
    margin:0px;
    width:100%;
    
}
footer li a {
    
    display:block;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
  }
footer li:hover,li a:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
  }
.hero{
   border:solid;
   border-color: #000;
   border-width: 1px; 
  }
  