# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
*.js
*.md
*.xml
Type	Name	Latest commit message	Commit time
css	updates	10 hours ago
img	first release	yesterday
.editorconfig	first release	yesterday
.gitattributes	first release	yesterday
.gitignore	first release	yesterday
.htaccess	first release	yesterday
_config.yml	Set theme jekyll-theme-minimal	10 hours ago
index.html	updates	10 hours ago
Add a README Help people interested in this repository understand your project by adding a README.
*.txt
*.ico
icon.png
*.webmanifest
icon.png
tile.png
tile-wide.png
.htdocs
404.html
.htaccess
.gitattributes
.editorconfig
